﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
@*    @Styles.Render("~/Content/css")*@
    @Scripts.Render("~/Scripts/Libs/react.js")
    @Scripts.Render("~/Scripts/ClientBundle/reactive-views.js")

</head>
<body>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

@*    @Scripts.Render("~/bundles/jquery")*@
@*    @Scripts.Render("~/bundles/bootstrap")*@
@*    @RenderSection("scripts", required: false)*@
</body>
</html>
